@model HSRC_RMS.Models.LicenseActivationUserGet
@using HSRC_RMS.Helpers
@{
    ViewData["Title"] = "License Activation";
}


<body>



    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li><a asp-controller="Projects1" asp-action="Index">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Interns </a></li>
                                <li class="color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></l>
                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUReportActiveMou" asp-action="Index">Active MoUs</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportAllMou" asp-action="Index">All MoUs</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportRequest" asp-action="Index">MoUs Request</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Projects1" asp-action="Index">Budget</a>
                        </li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift Register </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Add Gift</a></l>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="License" asp-action="Index">License Adminstrator</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUCreate" asp-action="Index">Create MoU Request</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUView" asp-action="Index">View MoU Request</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUActivity" asp-action="Index">MoU Activity</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage1" asp-action="Index">Manage MoU Requests</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage2" asp-action="Index">Manage MoU Requests(Legal)</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage3" asp-action="Index">Manage MoU Requests(CEO)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>License Activation - Add User</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
            <a asp-controller="License" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>


    <div class="section5 color-pellette-5  ">
        <div class="row collapse  " data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">


                    <div class="content-blocks content-blocks-0  ">

                        <div class="newbutton-indicator">
                            <a asp-controller="LicenseList" asp-action="Index" style="display: flex; justify-content: center; align-items: center; color: white; text-decoration: none;">
                                <div class="right-arrow-view" style="margin-left: 10px;">
                                    <img src="images/back-arrow.png" class="logo" alt="" />
                                </div>
                                Listing
                            </a>
                        </div>


                        <form asp-asp-controller="LicenseMActivationUser" asp-action="Index" method="post" onsubmit="return MethodHandler.GiftValidateForm()" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()


                                <div class="">
                                    <div class="search-section">

                                        <div class="medium-12 cell ">
                                            <label>
                                                Select user
                                                <span class="mandatory-star">*</span>
                                            @Html.DropDownListFor(model => model.NewActivation.LicenseUser     , Model.UsersOptionAsync
                                                , "--Please Select--", new { required = "required", id = "LicenseOwner" })
                                            @Html.ValidationMessageFor(model => model.NewActivation.LicenseUser)
                                            </label>
                                        </div>
                                        <div class="medium-12 cell ">
                                            <label>
                                                Activation Date
                                                <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewActivation.ActivatedDate, new { required = "required", @class = "form-control", type = "date" })

                                            @Html.ValidationMessageFor(model => model.NewActivation.ActivatedDate)

                                            </label>
                                        </div><div class="medium-12 cell ">
                                            <label>
                                                Expiry Date
                                                <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewActivation.ExpiryDate, new { required = "required", @class = "form-control", type = "date" })

                                                @Html.ValidationMessageFor(model => model.NewActivation.ExpiryDate)

                                            </label>
                                        </div>
                                        <div class="medium-12 cell">
                                            <label>
                                                Accessform
                                                <span class="mandatory-star">*</span>
                                          @*   <input  type="file" name="NewActivation.Accessform" class="form-control" />
                                            <span asp-validation-for="NewActivation.Accessform" class="text-danger"></span> *@
                                            <input class="form-control" name="templateFile" type="file" />

                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="my-clearfix">
                                    <hr> <!-- Add a horizontal line here -->

                                    @* <button type="button" class="my-cancelbtn" onclick="modalHandler.closeModal('myModal')">Cancel</button> *@
                                    <button type="submit" class="my-deletebtn1">Save</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="~/js/JavaScript.js"></script>


    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    </script>
    <script>
        const animationsHandler = new AnimationsHandler();

        document.addEventListener("DOMContentLoaded", () => {
            animationsHandler.initTextAnimation();
            animationsHandler.applyTableAnimation();
        });
        function updateLicenseType(selectElement) {
            var selectedValue = selectElement.value;
            document.getElementById("LicenseType").value = selectedValue;
        }
        function updateLicenseSupply(selectElement) {
            var selectedValue = selectElement.value;
            document.getElementById("Supplier").value = selectedValue;
        } function updateLicenseUser(selectElement) {
            var selectedValue = selectElement.value;
            document.getElementById("LicenseOwner").value = selectedValue;
        }
    </script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js"></script>


</body>
