@model HSRC_RMS.Models.JointProjectsEditGet
@using HSRC_RMS.Helpers
@{
    ViewData["Title"] = "Event Page";
}





<body>



    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li><a asp-controller="Projects1" asp-action="Index">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Interns </a></li>
                                <li class="color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></l>
                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUReportActiveMou" asp-action="Index">Active MoUs</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportAllMou" asp-action="Index">All MoUs</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportRequest" asp-action="Index">MoUs Request</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Projects1" asp-action="Index">Budget</a>
                        </li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift Register </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Add Gift</a></l>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="License" asp-action="Index">License Adminstrator</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUCreate" asp-action="Index">Create MoU Request</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUView" asp-action="Index">View MoU Request</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUActivity" asp-action="Index">MoU Activity</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage1" asp-action="Index">Manage MoU Requests</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage2" asp-action="Index">Manage MoU Requests(Legal)</a></l>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage3" asp-action="Index">Manage MoU Requests(CEO)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>Collaborations - Joint Projects Edit</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
            <a asp-controller="JointProjectsDisplay" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>
    <!-- Display success message if available -->
    @if (TempData.ContainsKey("SuccessMessage"))
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <!-- Display error message if available -->
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    
    <div class="section5 color-pellette-5  ">
        <div class="row collapse  " data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">


                    <div class="content-blocks content-blocks-0  ">
                      @*   <h3>   <a asp-controller="LicenseList" asp-action="Index">Back to License listing</a> </h3>

                        <h3>   <a asp-controller="License" asp-action="Index">Back To Dashboard</a> </h3> *@

                       
                        <form asp-controller="JointProjectsEdit" asp-action="Index" method="post" onsubmit="return MethodHandler.GiftValidateForm()">
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="ProjectID" value="@Model.ProjectID" />

                            <div class="">
                                <div class="search-section">

                                    <div class="medium-12 cell ">
                                        <label>
                                            Budget Year
                                            <span class="mandatory-star">*</span>

                                            @*    <select id="selectType" name="User" onchange="updateLicenseUser(this)">
                                            <option value="">-- Select License Owner --</option>
                                            @foreach (var Username in Model.LicenseCUsersList)
                                            {
                                            <option value="@Username">@Username</option>
                                            }
                                            </select>
                                            *@
                                            @Html.DropDownListFor(model => model.NewEditCapture.Budgetyears, DropdownHelpers.GetBudgetYearOptions()
                                            , "--Please Select--", new { required = "required", id = "Budgetyears" })
                                            @Html.ValidationMessageFor(model => model.NewEditCapture.Budgetyears)
                                        </label>
                                    </div>
                                    @*                                     @Html.HiddenFor(model => model.NewLicenseCapture.LicenseOwner, new { id = "LicenseOwner" })
                                    *@
                                    <div class="medium-12 cell">
                                        <label>
                                            Project Number
                                            <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewEditCapture.ProjectNumber, new { required = "required"  ,id = "Staff"})
                                            @Html.ValidationMessageFor(model => model.NewEditCapture.ProjectNumber)

                                        </label>
                                    </div>
                                    <div class="medium-12 cell ">
                                        <label>
                                            Title
                                            <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewEditCapture.Title, new { required = "required"  ,id = "Position"})
                                            @Html.ValidationMessageFor(model => model.NewEditCapture.Title)
                                        </label>
                                    </div><div class="medium-12 cell ">
                                        <label>
                                            Instittution
                                            <span class="mandatory-star">*</span>

                                            @*      <select id="selectType" name="Type" onchange="updateLicenseType(this)">
                                            <option value="">-- Select Type --</option>
                                            @foreach (var type in Model.LicenseCTypeList)
                                            {
                                            <option value="@type">@type</option>
                                            }
                                            </select> *@
                                            @Html.TextBoxFor(model => model.NewEditCapture.Institution , new { required = "required", id = "Institution" })
                                            @Html.ValidationMessageFor(model => model.NewEditCapture.Institution)

                                        </label>
                                    </div>
                                    <div class="medium-12 cell ">
                                        <label>
                                            Start Date
                                            <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewEditCapture.StartDate, new { required = "required", @class = "form-control", type = "date" })


@*                                             @Html.EditorFor(model => model.NewEditCapture.ExpiryDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                            *@                                            @Html.ValidationMessageFor(model => model.NewEditCapture.StartDate)

                                        </label>
                                    </div><div class="medium-12 cell ">
                                        <label>
                                            End Date

                                            <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewEditCapture.EndDate, new { required = "required"  ,id = "EndDate",type = "date" })
                                            @Html.ValidationMessageFor(model => model.NewEditCapture.EndDate)

                                        </label>
                                    </div><div class="medium-12 cell ">
                                        <label>
                                            Document
                                            <span class="mandatory-star">*</span>

                                            <span class="mandatory-star">*</span>
                                            @Html.TextBoxFor(model => model.NewEditCapture.Document, new { required = "required" ,id = "TextBoxFor"})
                                            @Html.ValidationMessageFor(model => model.NewEditCapture.Document)

                                        </label>
                                    </div><div class="medium-12 cell ">
                                        <label>
                                            Status
                                            @* <select id="selectSupplier" name="Supplier" onchange="updateLicenseSupply(this)">
                                            <option value="">-- Select Supplier --</option>
                                            @foreach (var supplier in Model.LicenseCSuppliesList)
                                            {
                                            <option value="@supplier">@supplier</option>
                                            }
                                            </select> *@
                                            @Html.DropDownListFor(model => model.NewEditCapture.Status, DropdownHelpers.GetStatusOption()
                                            , "--Please Select--", new { required = "required", id = "Status" })
                                           

                                        </label>
                                    </div>
                                    <div class="medium-12 cell " style=" display: flex;gap: 10px;">
                                        <button type="submit" style="background-color: grey;height: 35px;  width: 100px; border-radius: 6px;color: white;font-family: inherit; margin-top: 15px;">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="~/js/JavaScript.js"></script>


    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    </script>
    <script>
        const animationsHandler = new AnimationsHandler();

        document.addEventListener("DOMContentLoaded", () => {
            animationsHandler.initTextAnimation();
            animationsHandler.applyTableAnimation();
        });
    </script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js"></script>


</body>
