@model List<HSRC_RMS.Models.OpportunitiesDisplay>

@{
    ViewData["Title"] = "Time Page";
}

<style>
    .calendar {
        max-width: 600px;
        margin: auto;
        font-family: Arial, sans-serif;
    }

    .month {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #ccc;
        color: #333;
    }

    .prev, .next {
        cursor: pointer;
    }

    .weekdays {
        display: flex;
        justify-content: space-between;
        background-color: #eee;
        padding: 10px;
    }

        .weekdays div {
            width: calc(100% / 7);
            text-align: center;
        }

    .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }

        .days div {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }

            .days div:hover {
                background-color: #f2f2f2;
            }

            .days div.active {
                background-color: #333;
                color: #fff;
            }

</style>
<body>

    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li class="current"><a href="#">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Reports</a></li>
                        <li>
                            <a href="#">Research output</a>
                            <ul>
                                <li><a href="#">Premium support list</a></li>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a></li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li>
                            <a href="#">Sub test</a>
                            <ul>
                                <li><a href="#">Dummy item</a></li>
                                <li><a href="#">Dummy item</a></li>
                                <li><a href="#" class="disabled">Disabled menu item</a></li>
                                <li><a href="#">Dummy item</a></li>
                                <li>
                                    <a href="#">more...</a>
                                    <ul>
                                        <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li>
                                            <a href="#">more...</a>
                                            <ul>
                                                <li><a href="#">Dummy item</a></li>
                                                <li><a href="#" class="current">A 'current' class item</a></li>
                                                <li><a href="#">Dummy item</a></li>
                                                <li>
                                                    <a href="#">more...</a>
                                                    <ul>
                                                        <li><a href="#">subMenusMinWidth</a></li>
                                                        <li><a href="#">10em</a></li>
                                                        <li><a href="#">forced.</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dummy item</a></li>
                                                <li><a href="#">Dummy item</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>Funding Opportunities</h4>
                <p>Social science that makes a difference</p>
            </div>
            <a asp-controller="Proposals" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>


    <!--/***************************************/
             ----   section-5  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-9 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-0">
                        <h3>   <a asp-controller="OpportunitiesRegister" asp-action="Index">New Opportunity</a> </h3>

                        <div class="buttons-row ">

                            <button class="download-buttons">Print</button>
                            <button class="download-buttons">Copy</button>
                            <button class="download-buttons">Excel</button>
                            <button class="download-buttons">CSV</button>
                            <div class="custom-text1">Show </div>
                            <select class="custom-select" onchange="showNumberOfRows(this)">
                                <option value="---">---</option>

                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="10">25</option>
                                <option value="35">35</option>
                                <option value="50">50</option>

                            </select>
                            <div class="custom-text2"> entries</div>
                        </div>
                        <div>
                            <div class="search-box">
                                <input type="text" placeholder="Search" id="search-input" onkeyup="filterTable()">
                            </div>
                        </div>
                        <table>

                            <thead>
                                <tr class="color-pellette-0">
                                    <th scope="col" width="16%">Title</th>
                                    <th scope="col" width="12%">Funder</th>
                                    <th scope="col" width="10%">Program</th>
                                    <th scope="col" width="15%">Opportunity Status</th>
                                    <th scope="col" width="25%">Source URL</th>
                                    <th scope="col" width="15%">Submission Date</th>
                                    <th scope="col" width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.Title)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Funder)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Program)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Url)</td>
                                        <td> @Html.DisplayFor(modelItem => item.SubmissionDate)</td>
                                        <td data-label="Action">

                                            <div class="buttons">
                                                <form asp-controller="OpportunitiesEdit" asp-action="Index">
                                                    <input type="hidden" name="id" value="@item.opportunityId" />
                                                    <button type="submit" class="edit-link-button"> <a>Edit</a> </button>
                                                </form>
                                                <form asp-controller="GiftDisplay" asp-action="Index" method="post">
                                                    <input type="hidden" name="giftId" value="@item.opportunityId" />
                                                    <button type="submit" class="submit-link-button" id="submitButton-@item.opportunityId"><a>Delete</a> </button>
                                            </form>
                                            </div>

                                          @*   <div class="comments" style="display:none;">
                                            <p class="comment-text" id="comment-@item.Id">@item.Comment</p>

                                            </div> *@
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>





            </div>
            <div class="large-3 medium-12 small-12 columns widgets">
                <div class="large-12 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-widget-1">
                        <div class="wgt">
                            <h3>Info</h3>
                            This page contains a list of all Projects
                        </div>
                    </div>
                </div>
                @*<div class="large-12 medium-6 columns padding_10 data-equalizer-watch">
                <div class="content-blocks content-blocks-widget-2">
                <div class="wgt1">
                <h3>Filter</h3>

                <div class="medium-12 cell padding_10">
                <label>
                Date Range type
                <select type="text" placeholder>
                <option>Budget Year</option>
                <option>Choose Date</option>
                </select>
                </label>
                </div>

                <div class="medium-12 cell padding_10">
                <label>
                Budget Year
                <select type="text" placeholder>
                <option>2022/23</option>
                <option>2021/22</option>
                </select>
                </label>
                </div>
                <div class="medium-12 cell padding_10">
                <label>
                Program
                <select type="text" placeholder>
                <option>All Programs</option>
                </select>
                </label>
                </div>
                <div class="medium-12 cell padding_10">
                <label>
                Personnel
                <select type="text" placeholder>
                <option>Peter Drury, (MR P)</option>
                <option>Jane Doe, (Mrs, J)</option>
                <option>John Deer, (Mr, J)</option>
                <option>Emily Jones, (Mrs, E)</option>
                <option>Tanya Meyer, (Mrs, T)</option>

                </select>
                </label>
                </div>
                <div class="large-4  data-equalizer-watch">
                <a asp-controller="Projects" asp-action="Index"
                class="button radius padding_10">Search</a>
                </div>
                </div>
                </div>
                </div>*@
            </div>
        </div>




    </div>

    <!--/***************************************/
             ----   section-6  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->
    <div class="section6 color-pellette-5 padding_20">
        <div class="row collapse color-pellette-5 hide-for-large show-for-small-only">
            <div class="wrappon">
                <div class="large-12 color-pellette-2 columns up-section">
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-1">
                            <div class="large-7 medium-7 small-12 columns padding_40"><h3>Uploaded Documents for the month <br><hlite>59%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group81.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-2">
                            <div class="large-7 medium-7 small-12 columns padding_40"><h3>Data captured for the for the month<br><hlite>80%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/graph-report.png" alt="" /></div>

                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-3">

                            <div class="large-7 medium-7 small-12 columns padding_30"><h3>Data modifications for the month<br><hlite>40%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group112.png" alt="" /></div>

                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-4">
                            <div class="large-12 columns padding_20">
                                <h3>LATEST DATA ENTRIES </h3>
                                <ul>
                                    <li>Interpark South Africa Pty Ltd</li>
                                    <li>Interpark South Africa Pty Ltd</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>

    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    </script>

    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js">	</script>




</body>
