@model HSRC_RMS.Models.EventCapture
@using HSRC_RMS.Helpers
@{
    ViewData["Title"] = "Event Page";
}
<!DOCTYPE html>
<html>
<head>

    <style>
        a {
            color: blue;
            text-decoration: underline;
           cursor: pointer;
           font-size: 16px;
        }
            a:hover {
                color: red;
                text-decoration: none;
            }

        .above-table {
            display: flex;
            justify-content: space-between;
        }
        .buttons-row {
            display: flex;
            align-items: center;
        }
      .buttons-row > div {
            display: flex; /* Nested flex container */
            gap: 10px; /* Add spacing between buttons and select */
      }
            .buttons-row button {
                margin-right: 10px; /* Adjust the value to add the desired space between buttons */
            }
        .download-buttons{
            background-color: grey;
            height: 35px;
            width: 50px;
            border-radius:6px;
            color:white;
            font-family: inherit;
            margin-bottom: 10px;
        }

        .custom-text1 {
            margin-right: 5px;
            margin-bottom:14px;
        }

        .custom-text2 {
            margin-left: 5px;
            margin-bottom: 14px;
        }
        .custom-select {
            height: 35px;
            width: 50px;
            border: 1px solid #cacaca;
            font-size: 1rem;
            font-family: inherit;
            padding: 8px 16px;
            color: #0a0a0a;
            background-color: #fefefe;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
            background-repeat: no-repeat;
        }

        table {
            overflow: hidden;
        }

        

        tr {
            transition: all 1s ease-in-out;
        }

            tr.slide-out {
                transform: translateX(100%);
            }

            tr.slide-in {
                transform: translateX(0);
            }




    </style>
</head>
<body>


    
    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li><a asp-controller="Projects1" asp-action="Index">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
							<a asp-controller="Projects1" asp-action="Index">Reports</a>
							<ul class="dropdowng-menu color-pellette-0">
								<li class="has-submenu color-pellette-0">
									<a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
								</li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
								<li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Interns </a></li>
								<li class="has-submenu color-pellette-0">
									<a asp-controller="GiftDisplay" asp-action="Index">Gift </a>
									<ul class="subg-menu color-pellette-0">
										<li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></l>
									</ul>
								</li>
								<li class="has-submenu color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">MoUs </a>
									<ul class="subg-menu color-pellette-0">
										<li class="color-pellette-0" ><a asp-controller="ActiveMoUs" asp-action="Index">Active MoUs</a></li>
										<li class="color-pellette-0"><a asp-controller="AllMoUs" asp-action="Index">All MoUs</a></l>
										<li class="color-pellette-0"><a asp-controller="MoUsRequest" asp-action="Index">MoUs Request</a></li>

									</ul></li>
							</ul>
						</li>
                        <li>
                            <a asp-controller="Projects1" asp-action="Index">Budget</a>
                        </li>
                        <li><a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a></li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>

    
    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>EVENT REGISTRATION</h4>
                <p class="anim-text" >Social science that makes a difference</p>
            </div>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>


    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">
                   
                    
                    <div class="content-blocks content-blocks-0  ">
                        
                     <h3>   <a asp-controller="EventAdd" asp-action="Index">NEW REQUEST</a> </h3>

                        <div class="above-table">
                            <div class="buttons-row ">
                                
                                    <button class="download-buttons">Print</button>
                                    <button class="download-buttons">Copy</button>
                                    <button class="download-buttons">Excel</button>
                                    <button class="download-buttons">CSV</button>
                                  <div class="custom-text1">Show </div>
                                <select class="custom-select" onchange="showNumberOfRows(this)">
                                    <option value="---">---</option>

                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="10">25</option>
                                    <option value="35">35</option>
                                         <option value="50">50</option>

                                    </select>
                                <div class="custom-text2"> entries</div>
                            </div>
                            <div>
                                <div class="search-box">
                                    <input type="text" placeholder="Search" id="search-input" onkeyup="filterTable()">
                                </div>
                            </div>
                       </div>
                        
                        <table id="event-table"  >

                            <thead>
                                <tr class="color-pellette-0">
                                    <th scope="col" width="16%">TITLE</th>
                                    <th scope="col" width="14%">SUBMITTED BY</th>
                                    <th scope="col" width="6%">UNIT</th>
                                    <th scope="col" width="10%">SUBMITTED DATE</th>
                                    <th scope="col" width="7%">STATUS</th>
                                    <th scope="col" width="10%">EVENT DATE </th>
                                    <th scope="col" width="16%">TYPE</th>
                                    <th scope="col" width="12%">DOCUMENTS</th>
                                    <th scope="col" width="14%">COMMENTS</th>
                                    <th scope="col" width="10%">ACTION </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var events in Model.EventList)
                                {
                                    <tr class="table-row">
                                        <td data-label="TITLE" class="color-pellette-4">@events.Title</td>
                                        <td data-label="SUBMITTED BY"></td>
                                        <td data-label="UNIT">@events.Unit</td>
                                        <td data-label="SUBMITTED DATE">@events.SubmissionDate.ToString("yyyy-MM-dd")</td>
                                        <td data-label="STATUS">@events.EventStatus</td>
                                        <td data-label="EVENT DATE">@events.EventDate.ToString("yyyy-MM-dd")</td>
                                        <td data-label="TYPE">@events.EventType</td>
                                        <td data-label="DOCUMENTS">

                                            @if (events.FirstContent != null && events.FirstContent.Length > 0)
                                            {
                                                       <a asp-controller="EventRegistration" asp-action="DownloadFirstPdf" asp-route-eventId="@events.EventId ">View PDF</a>
                                            }
                                            else{
                                                <a asp-controller="EventRegistration" asp-action="DownloadFirstPdf" asp-route-eventId="@events.EventId ">No PDF</a>

                                            }
                                        </td>
                                        <td data-label="COMMENTS">@events.EventComments</td>
                                        <td data-label="ACTION">

                                            <select>
                                                <option value="2021/22">--select--</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                            </select>

                                        </td>
                                    </tr>
                                }
                          
@* 
                             <tr class="table-row">
                                    <td data-label="TITLE" class="color-pellette-4">Community based research</td>
                                    <td data-label="SUBMITTED BY">Govender K</td>
                                    <td data-label="UNIT">DCSC</td>
                                    <td data-label="SUBMITTED DATE">14-07-2023</td>
                                    <td data-label="STATUS">Approved</td>
                                    <td data-label="EVENT DATE">17-07-2023</td>
                                    <td data-label="TYPE">Research related engagement with communities an civel society</td>
                                    <td data-label="DOCUMENTS">Latchu, Ashely (Mr A)</td>
                                    <td data-label="COMMENTS">(R)</td>
                                    <td data-label="ACTION">
                                        
                                            <select>
                                                <option value="2021/22">--select--</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                            </select>
                                        
                                    </td>
                                </tr>
                                     <tr class="table-row">
                                    <td data-label="TITLE" class="color-pellette-4">Community based research</td>
                                    <td data-label="SUBMITTED BY">Govender K</td>
                                    <td data-label="UNIT">DCSC</td>
                                    <td data-label="SUBMITTED DATE">14-07-2023</td>
                                    <td data-label="STATUS">Approved</td>
                                    <td data-label="EVENT DATE">17-07-2023</td>
                                    <td data-label="TYPE">Research related engagement with communities an civel society</td>
                                    <td data-label="DOCUMENTS">Latchu, Ashely (Mr A)</td>
                                    <td data-label="COMMENTS">(R)</td>
                                    <td data-label="ACTION">
                                        
                                            <select>
                                                <option value="2021/22">--select--</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                            </select>
                                        
                                    </td>
                                </tr>     <tr class="table-row">
                                    <td data-label="TITLE" class="color-pellette-4">Community based research</td>
                                    <td data-label="SUBMITTED BY">Govender K</td>
                                    <td data-label="UNIT">DCSC</td>
                                    <td data-label="SUBMITTED DATE">14-07-2023</td>
                                    <td data-label="STATUS">Approved</td>
                                    <td data-label="EVENT DATE">17-07-2023</td>
                                    <td data-label="TYPE">Research related engagement with communities an civel society</td>
                                    <td data-label="DOCUMENTS">Latchu, Ashely (Mr A)</td>
                                    <td data-label="COMMENTS">(R)</td>
                                    <td data-label="ACTION">
                                        
                                            <select>
                                                <option value="2021/22">--select--</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                            </select>
                                        
                                    </td>
                                </tr>     <tr class="table-row">
                                    <td data-label="TITLE" class="color-pellette-4">Community based research</td>
                                    <td data-label="SUBMITTED BY">Govender K</td>
                                    <td data-label="UNIT">DCSC</td>
                                    <td data-label="SUBMITTED DATE">14-07-2023</td>
                                    <td data-label="STATUS">Approved</td>
                                    <td data-label="EVENT DATE">17-07-2023</td>
                                    <td data-label="TYPE">Research related engagement with communities an civel society</td>
                                    <td data-label="DOCUMENTS">Latchu, Ashely (Mr A)</td>
                                    <td data-label="COMMENTS">(R)</td>
                                    <td data-label="ACTION">
                                        
                                            <select>
                                                <option value="2021/22">--select--</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                            </select>
                                        
                                    </td>
                                </tr>     <tr class="table-row">
                                    <td data-label="TITLE" class="color-pellette-4">Community based research</td>
                                    <td data-label="SUBMITTED BY">Govender K</td>
                                    <td data-label="UNIT">DCSC</td>
                                    <td data-label="SUBMITTED DATE">14-07-2023</td>
                                    <td data-label="STATUS">Approved</td>
                                    <td data-label="EVENT DATE">17-07-2023</td>
                                    <td data-label="TYPE">Research related engagement with communities an civel society</td>
                                    <td data-label="DOCUMENTS">Latchu, Ashely (Mr A)</td>
                                    <td data-label="COMMENTS">(R)</td>
                                    <td data-label="ACTION">
                                        
                                            <select>
                                                <option value="2021/22">--select--</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                                <option value="2021/22">2021/22</option>
                                            </select>
                                        
                                    </td>
                                </tr>
 *@

                          
                             
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--/***************************************/
                  Java scripts
    /***************************************/-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>


    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    


     
        //filter table using the search option
       function FilterTable() {
             const input = document.getElementById('search-input');
                 const filter = input.value.toUpperCase();
              const table = document.getElementById('event-table');
              const rows = table.getElementsByTagName('tr');

              for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                let found = false;

                for (let j = 0; j < cells.length; j++) {
                  const cellText = cells[j].textContent || cells[j].innerText;
                  if (cellText.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                    break;
                  }
                }

                if (found) {
                  rows[i].style.display = '';
                } else {
                  rows[i].style.display = 'none';
                }
              }
}


        //Table Animation start

        


        //Table Animation end


        //Text animation start

        //Text animation end


        //filter table on the numer of rows start
        //display table based on the number row
        function showNumberOfRows(selectElement) {
            const numRows = parseInt(selectElement.value);
            const tableRows = document.querySelectorAll('#event-table tbody tr');

            for (let i = 0; i < tableRows.length; i++) {
                if (i < numRows) {
                    tableRows[i].style.display = '';
                } else {
                    tableRows[i].style.display = 'none';
                }
            }
        }
        //filter table on the numer of rows end
       


      

    </script>
    <script>
        var textWrapper = document.querySelector('.anim-text');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.anim-text .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.anim-text',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>
    <script>
        const rows = Array.from(document.querySelectorAll('tr'));

        function slideOut(row) {
            row.classList.add('slide-out');
        }

        function slideIn(row, index) {
            setTimeout(function () {
                row.classList.remove('slide-out');
                row.classList.add('slide-in');
            }, (index + 5) * 200);
        }

        rows.forEach(slideOut);

        rows.forEach(slideIn);
    </script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js"></script>


</body>
