@model HSRC_RMS.Models.MoUViewRequest

@{
    ViewData["Title"] = "Memorandum of Understanding";
}

<body>



    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint color-pellette-0">
                        <li><a asp-controller="TimeRecordings" asp-action="Index">Time Recording</a></li>
                        <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="Projects1" asp-action="Index">Reports</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Perfomance indicators</a>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Projects Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Contract Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Program Reports</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Employees Report </a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Spend Procurement Report</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Project Budget Report</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="GiftDisplay" asp-action="Index">Dataset Report</a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="has-submenu color-pellette-0">
                                            <a asp-controller="MyGift" asp-action="Index">Data Set Reports</a>
                                            <ul class="subg-menu color-pellette-0">
                                                <li class="has-submenu color-pellette-0">
                                                    <a asp-controller="DataSetReportKtree" asp-action="Index">Ktree file/Meta Data</a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class=" color-pellette-0">
                                            <a asp-controller="DataSetCitation" asp-action="Index">Dataset Citation Report</a>

                                        </li>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Resourse Output</a></li>
                                <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Time Recording </a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Interns </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCy" asp-action="Index">Current Year</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCyDegree" asp-action="Index">Current Year - by degree</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCyUnit" asp-action="Index">Current Year - by Unit</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportCyRegion" asp-action="Index">Current Year - by Region</a></li>
                                        <li class="color-pellette-0"><a asp-controller="InternsReportPyear" asp-action="Index">Previous Interns</a></li>

                                    </ul>
                                </li>

                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MyGift" asp-action="Index">My Gift</a></li>

                                    </ul>
                                </li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUReportActiveMou" asp-action="Index">Active MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportAllMou" asp-action="Index">All MoUs</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUReportRequest" asp-action="Index">MoUs Request</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="Collaborations1" asp-action="Index">Collabs</a></li>


                        <li class="dropdowng color-pellette-0">
                            <a href="#">Research output</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="color-pellette-0"><a asp-controller="EventRegistration" asp-action="Index">Output Registration</a></li>
                                <li class="color-pellette-0"><a asp-controller="EventRegistration" asp-action="Index">Event Registration</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Budgets" asp-action="Index">Budgets</a>
                        </li>
                        <li>
                            <a asp-controller="Proposals" asp-action="Index">Proporsals</a>
                        </li>
                        <li class="dropdowng color-pellette-0">
                            <a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a>
                            <ul class="dropdowng-menu color-pellette-0">
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">Gift Register </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="GiftDisplay" asp-action="Index">Add Gift</a></li>

                                    </ul>
                                </li>
                                <li class="color-pellette-0"><a asp-controller="DataSet" asp-action="Index">DataSets</a></li>
                                <li class="color-pellette-0"><a asp-controller="License" asp-action="Index">License Adminstrator</a></li>
                                <li class="has-submenu color-pellette-0">
                                    <a asp-controller="" asp-action="Index">MoUs </a>
                                    <ul class="subg-menu color-pellette-0">
                                        <li class="color-pellette-0"><a asp-controller="MoUCreate" asp-action="Index">Create MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUView" asp-action="Index">View MoU Request</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUActivity" asp-action="Index">MoU Activity</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage1" asp-action="Index">Manage MoU Requests</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage2" asp-action="Index">Manage MoU Requests(Legal)</a></li>
                                        <li class="color-pellette-0"><a asp-controller="MoUManage3" asp-action="Index">Manage MoU Requests(CEO)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li><a asp-controller="AccessGroups" asp-action="Index">ACCESS GROUPS</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>View MoU Requests</h4>
                <p class="anim-text">Social science that makes a difference</p>
            </div>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Back</a>
            <a asp-controller="Home" asp-action="Index"
               class="button radius padding_10">Home</a>
        </div>
    </div>


    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 columns ">
                <div class="large-12 medium-12 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-0">
                        <h3>Help With MoU Requests</h3>

                        <div class="cards">
                            <div class="card red">
                                <p style="font-size: 15px; margin-top: 10px;"><span style="font-weight:bold">Name:</span> Ms Samantha Linn Coert</p>
                                <p style="font-size: 15px;"><span style="font-weight:bold">Email:</span> slcoert@hsrc.ac.za</p>
                                <p style="font-size: 15px;"><span style="font-weight:bold">Tel:</span> 021 466 7970</p>

                            </div>
                            <div class="card blue">
                                <p style="font-size: 15px;"><span style="font-weight:bold">Name:</span> Dr Palesa Sekhejane</p>
                                <p style="font-size: 15px;"><span style="font-weight:bold">Email:</span> PSekhejane@hsrc.ac.za</p>
                            </div>
                            <div class="card green">
                                <p style="font-size: 15px;"><span style="font-weight:bold">Name:</span> Ms Lumka Luzipho</p>
                                <p style="font-size: 15px;"><span style="font-weight:bold">Email:</span> lluzipho@hsrc.ac.za</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


 <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 columns ">
                    <section class="step-wizard">
                        <ul class="step-wizard-list">
                            <li class="step-wizard-item" onclick="startAnimation(1)">
                                <span class="progress-count">1</span>
                                <span class="progress-label">Request MoU</span>
                            </li>
                            <li class="step-wizard-item current-item" onclick="startAnimation(2)">
                                <span class="progress-count">2</span>
                                <span class="progress-label">Upload MoU</span>
                            </li>
                            <li class="step-wizard-item" onclick="startAnimation(3)">
                                <span class="progress-count">3</span>
                                <span class="progress-label">Legal Vetting the MoU</span>
                            </li>
                            <li class="step-wizard-item" onclick="startAnimation(4)">
                                <span class="progress-count">4</span>
                                <span class="progress-label">Send OCEO</span>
                            </li>
                            <li class="step-wizard-item" onclick="startAnimation(5)">
                                <span class="progress-count">5</span>
                                <span class="progress-label">Send CEO</span>
                            </li>
                            <li class="step-wizard-item" onclick="startAnimation(6)">
                                <span class="progress-count">6</span>
                                <span class="progress-label">Upload into the System</span>
                            </li>
                        </ul>
                    </section>

            </div>

        </div>
    </div>




    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-12 medium-12 small-12 columns padding_10 data-equalizer-watch">


                    <div class="content-blocks content-blocks-0">

                        <h3><a asp-controller="MoUView" asp-action="Index">Back To List</a></h3>
                        <div class="view-mo-menu">
                            <div class="view-mou-menu">
                                <a onclick="animationsHandler.showTable('table2')">View MoU request</a>
                                <a onclick="animationsHandler.showTable('table3')">Comments on MoU request</a>
                            </div>
                        </div>

                        <div id="table3" class="table-template" style="display: none;">
                        </div>

                        <div id="table2" class="table-template" style="display: none;">
                            <table id="event-table">
                                <tr class="data-row">
                                    <td data-label="Budget Year" class="color-pellette-4 short-column">

                                        Reference number
                                    </td>
                                    <td data-label="Mou Unit">
                                        @Model.MouViewRequestById.ReferenceNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">Request by:	</td>
                                    <td data-label="Mou Unit">
                                        @Model.MouViewRequestById.Requester
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">Type of agreement:		</td>
                                    <td data-label="Mou Unit">
                                    @*  National/Regional/International*@
                                    @Model.MouViewRequestById.AgreementType


                                    </td>
                                </tr>
                                   <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">MoU requested:		</td>
                                    <td data-label="Mou Unit">
                                    @* The Partnership for African Social and Governance Research (PASGR) *@                                       
                                        @Model.MouViewRequestById.MouRequest

                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">MoU from:		</td>
                                    <td data-label="Mou Unit">
                                        @Model.MouViewRequestById.Division

                                    </td>
                                </tr>

                                <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">completed document:			</td>
                                    <td data-label="Mou Unit">
                                        Completed document
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">View vetted document:		</td>
                                    <td data-label="Mou Unit">
                                        Vetted document
                                    </td>
                                </tr>
                             
                                <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">OCEO approved		</td>
                                    <td data-label="Mou Unit">

No                                    </td>
                                </tr>
                                   <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">CEO approved		</td>
                                    <td data-label="Mou Unit">

No                                    </td>
                                </tr>   <tr>
                                    <td data-label="Budget Year" class="color-pellette-4">Final document		</td>
                                    <td data-label="Mou Unit">

                                        No document.
                                    </td>
                                </tr>
                            </table>
                          
                        </div>





                    </div>
                </div>
            </div>
        </div>

    </div>


        <!--/***************************************/
                      Java scripts
        /***************************************/-->

   

</body>
