@model List<Team>
@{
    ViewData["Title"] = "Profile Page";
}

<body>

    <!--/***************************************/
             ----   section-1  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section2 color-pellette-2">
        <div class="row">
            <div class="large-2 medium-12 small-12 padding_20 columns">
                <img src="images/hsrclogo@2x.png" width="180px" class="logo" alt="" />

            </div>

            <div class="large-10 medium-12 small-12 columns padding_35 navigator">

                <nav id="main-nav">

                    <!-- Mobile menu toggle button (hamburger/x icon) -->
                    <input id="main-menu-state" type="checkbox" />
                    <label class="main-menu-btn" for="main-menu-state">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>


                    <!-- Sample menu definition -->
                    <ul id="main-menu" class="sm sm-mint">
                        <li class="current"><a href="#">Time Recording</a></li>
                        <li>
                            <a href="#">About</a>
                            <ul>
                                <li><a href="#">Introduction to SmartMenus jQuery</a></li>
                                <li><a href="#">Demos + themes</a></li>
                                <li><a href="#">The author</a></li>
                                <li>
                                    <a href="#">The company</a>
                                    <ul>
                                        <li><a href="#">About Vadikom</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Reports</a></li>
                        <li>
                            <a href="#">Research output</a>
                            <ul>
                                <li><a href="#">Premium support list</a></li>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="BudgetYears" asp-action="Index">SYSTEM MANAGEMENT</a></li>
                        <li><a asp-controller="TeamConfigure" asp-action="Index">TEAM MANAGEMENT</a></li>
                        <li>
                            <a href="#">Sub test</a>
                            <ul>
                                <li><a href="#">Dummy item</a></li>
                                <li><a href="#">Dummy item</a></li>
                                <li><a href="#" class="disabled">Disabled menu item</a></li>
                                <li><a href="#">Dummy item</a></li>
                                <li>
                                    <a href="#">more...</a>
                                    <ul>
                                        <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li>
                                            <a href="#">more...</a>
                                            <ul>
                                                <li><a href="#">Dummy item</a></li>
                                                <li><a href="#" class="current">A 'current' class item</a></li>
                                                <li><a href="#">Dummy item</a></li>
                                                <li>
                                                    <a href="#">more...</a>
                                                    <ul>
                                                        <li><a href="#">subMenusMinWidth</a></li>
                                                        <li><a href="#">10em</a></li>
                                                        <li><a href="#">forced.</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dummy item</a></li>
                                                <li><a href="#">Dummy item</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                        <li><a href="#">Dummy item</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>


    <!--/***************************************/
             ----   section-3  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->

    <div class="section3 color-pellette-8 text-center">
        <div class="row padding_40 ">
            <div class="columns small-8 medium-centered small-centered large-centered">
                <h4>TEAM MANAGEMENT</h4>
                <p>Social science that makes a difference</p>
            </div>

        </div>
    </div>


    <!--/***************************************/
             ----   section-4 ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->


    <div class="section5 color-pellette-5">
        <div class="row collapse" data-equalizer>
            <div class="large-9 columns ">
                <div class="large-12 medium-12 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-0">
                        <h3>List of Amendments</h3>
                        <table>
                            <thead>
                                <tr class="color-pellette-0">
                                    <th scope="col" width="10%">ID</th>
                                    <th scope="col" width="10%">Group ID</th>
                                    <th scope="col" width="35%">Name</th>
                                    <th scope="col" width="35%">Email</th>
                                    <th scope="col" width="6%">Edit</th>
                                    <th scope="col" width="6%">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in Model)
                                {
                                    <tr>
                                        <td>@team.Id</td>
                                        <td>@team.GroupID</td>
                                        <td>@team.Name</td>
                                        <td>@team.Email</td>
                                        <td class="color-pellette-1 down"><a asp-controller="Edit" asp-action="Index"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                        <td class="color-pellette-4 down">@Html.ActionLink("Delete" , "Delete", new { id = team.Id }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-12 small-12 columns widgets">
                <div class="large-12 medium-6 columns padding_10 data-equalizer-watch">
                    <div class="content-blocks content-blocks-widget-1">
                        <div class="wgt">
                            <h3>Info</h3>
                            This page contains a list of all Accounts
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/***************************************/
             ----   section-6  ----
         ----   OTHER DEFENITIONS  ----
    /***************************************/-->
    <div class="section6 color-pellette-5 padding_20">
        <div class="row collapse color-pellette-5 hide-for-large show-for-small-only">
            <div class="wrappon">
                <div class="large-12 color-pellette-2 columns up-section">
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-1">
                            <div class="large-7 medium-7 small-12 columns padding_40"><h3>Uploaded Documents for the month <br><hlite>59%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group81.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-2">
                            <div class="large-7 medium-7 small-12 columns padding_40"><h3>Data captured for the for the month<br><hlite>80%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/graph-report.png" alt="" /></div>

                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-3">

                            <div class="large-7 medium-7 small-12 columns padding_30"><h3>Data modifications for the month<br><hlite>40%</hlite></h3></div>
                            <div class="large-5 medium-5 small-12 columns padding_20 hide"><img src="images/Group112.png" alt="" /></div>

                        </div>
                    </div>
                    <div class="large-3 medium-6 small-6 columns padding_20">
                        <div class="blocks blocks-4">
                            <div class="large-12 columns padding_20">
                                <h3>LATEST DATA ENTRIES </h3>
                                <ul>
                                    <li>Interpark South Africa Pty Ltd</li>
                                    <li>Interpark South Africa Pty Ltd</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    </script>

    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="script.js"></script>




</body>
